[Wallpaper]
File=stripes.png
Name=Stripes
Name[ar]=الشرائط
Name[ast]=Rayes
Name[bg]=Райета
Name[bn]=ডোরাকাটা
Name[bs]=Pruge
Name[ca]=Bandes
Name[ca@valencia]=Bandes
Name[cs]=Proužky
Name[da]=Striber
Name[de]=Streifen
Name[el]=Ρίγες
Name[en_GB]=Stripes
Name[es]=Rayas
Name[et]=Triibud
Name[eu]=Marraduna
Name[fa]=مارکها
Name[fi]=Raidat
Name[fr]=Bandes
Name[ga]=Straidhpeanna
Name[gl]=Raias
Name[he]=רצועות
Name[hi]=पट्टियां
Name[hr]=Trake
Name[hu]=Csíkok
Name[ia]=Listas
Name[id]=Belang
Name[is]=Strípur
Name[it]=Strisce
Name[ja]=Stripes
Name[kk]=Жолақтар
Name[km]=ឆ្នូត​
Name[ko]=줄무늬
Name[lt]=Juostelės
Name[lv]=Strīpas
Name[mr]=पट्टे
Name[nb]=Striper
Name[nds]=Striepen
Name[nl]=Strepen
Name[nn]=Striper
Name[pa]=ਸਟਰਿੰਪਸ
Name[pl]=Paski
Name[pt]=Barras
Name[pt_BR]=Riscas
Name[ro]=Dungi
Name[ru]=Полоски
Name[si]=ඉරි
Name[sk]=Prúžky
Name[sl]=Črte
Name[sr]=Пруге
Name[sr@ijekavian]=Пруге
Name[sr@ijekavianlatin]=Pruge
Name[sr@latin]=Pruge
Name[sv]=Ränder
Name[th]=ริ้ว
Name[tr]=Çizgiler
Name[ug]=سىزىق
Name[uk]=Смуги
Name[wa]=Bindes
Name[x-test]=xxStripesxx
Name[zh_CN]=Stripes
Name[zh_TW]=條紋

ImageType=pixmap
Author=Ivan Čukić
